numpy==1.18.1
deap==1.0.1
matplotlib==3.0.0
networkx==2.3
prettytable==0.7.2
PuLP==2.4
pydot==1.4.1
pygmo==2.9
tqdm==4.31.1
cvxpy==1.1.10
seaborn==0.11.1
# the following is optional
# llvmlite==0.30.0
# pyeda==0.28.0
# mosek==9.2.38